@import url(./reset.css);
@import url(./fonts/Gilroy/stylesheet.css);
/* font-family: 'Gilroy', sans-serif; */

:root {
    --secondary: #1F1F1F;
    --secondary-light: rgba(31, 31, 31, 0.7);
    --primary: #114455;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
}

.container {
    max-width: 1750px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-right {
    padding-left: calc((100% - 1750px) / 2 + 15px);
}

.none {
    display: none !important;
}

.hidden {
    visibility: hidden;
}

/* Button */
.btn {
    position: relative;
    display: inline-block;
    padding: 10px 24px;
    padding-right: 72px;

    border: 1px solid var(--primary);
    border-radius: 2px;

    font-size: 20px;
    font-weight: 800;
    color: var(--primary);

    transition: color 0.15s ease-in, background-color 0.15s ease-in;
}

.btn:hover, .btn:focus {
    background-color: var(--primary);
    color: #fff;
}

.btn:active {
    top: 1px;
}

.btn::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url(./../img/icons/arrow-right-black.svg);
    background-repeat: no-repeat;
    background-position: center;

    right: 24px;
    top: 50%;
    transform: translateY(-50%);
}

.btn:hover::after, .btn:focus::after {
    background-image: url(./../img/icons/arrow-right-white.svg);
}

.btn--big {
    display: inline-block;
    padding: 14px 32px;
    padding-right: 80px;
}

.btn--dark {
    background-color: var(--primary);
    color: #fff;
}

.btn--dark:hover, .btn--dark:focus {
    background-color: var(--secondary);
}

.btn--dark::after {
    background-image: url(./../img/icons/arrow-right-white.svg);
}

/* Header */
.header {
    position: relative;
    min-height: 100vh;
    background-color: #e1edf2;
    background-image: url(./../img/header/header-bg.jpg);
    background-size: cover;
    background-position: center;
}
.header__top {
    margin-bottom: 126px;
    padding: 44px 0;
}

.header__arrows {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 59px;
}

/* Nav */
.nav {
    display: flex;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    align-items: center;
    column-gap: 118px;
}

.nav__btn {
    display: none;
}

.link {
    font-size: 20px;
    font-weight: 800;
    color: var(--primary);
}

/* Header content */
.header__content-mobile {
    display: none;
}

.header__content {
    max-width: 1060px;
}
.header__title {
    margin-bottom: 48px;
    max-width: 734px;

    font-size: 80px;
    font-weight: 800;
    color: var(--primary);
}
.header__text {
    margin-bottom: 72px;
    font-size: 34px;
    line-height: 1.5;
    color: var(--secondary-light);
}

.header__text p + p {
    margin-top: 1em;
}

/* Case studies */

.case-studies {
    padding: 184px 0;
}

.section-header {
    max-width: 1070px;
}

.section-header__title {
    margin-bottom: 12px;
}

.section-header__text {
    margin-bottom: 100px;
}

.title {
    font-size: 80px;
    font-weight: 800;
    color: var(--secondary);
}

.text {
    font-size: 28px;
    line-height: 1.57;
    color: var(--secondary-light);
}

/* Slide */

.slide {
    position: relative;
    display: inline-block;
    padding-left: 80px;
}

.slide__title {
    position: absolute;
    left: 0;
    bottom: 104px;

    font-size: 140px;
    font-weight: 800;

    background: linear-gradient(90deg, var(--primary) 80px, rgba(255,255,255,1) 80px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Video */

.video {
    padding: 144px 0;
}

.video__text {
    margin-bottom: 78px;
}

/* Video content */

.video__screen {
    position: relative;
}

.video__overlay::after {
    z-index: 8;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 68, 85, 0.5);
}

.video__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}
.video__picture {
    position: relative;
    z-index: 7;
    
    /* display: none; */
}

.video__object {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    vertical-align: top;
}

/* Footer */

.footer {
    padding: 162px 0 82px;

    letter-spacing: 0.04em;
    font-size: 20px;
    line-height: 36px;
    color: var(--secondary-light);
}

.footer a {
    letter-spacing: 0.04em;
    font-size: 20px;
    line-height: 36px;
    color: var(--secondary-light);
}

.footer__row {
    display: flex;
    justify-content: space-between;
}

.footer__nav {
    display: flex;
    column-gap: 104px;
}

.footer__socials {
    display: flex;
    column-gap: 27px;
}

/* Nav mobile */

.no-scroll {
    overflow-y: hidden;
}

.mobile-nav {
    display: none;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    overflow-y: scroll;

    background: #FFF;
}

.mobile-nav--column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;
}

.nav-mobile {
    /*  */
    padding-top: 48px; 
    /*  */
    /* padding: 48px 0 54px; */
}

.mobile-list {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.4;
    color: var(--secondary);
}

.mobile-list a {
    color: var(--secondary);
}

.mobile-contacts {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding-top: 20px;
    /* padding: 80px 0; */
}

.mobile-contacts__title {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 32px;
}

.mobile-contacts a,
.mobile-contacts p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.06em;
    color: var(--secondary-light);
}

.mobile-contacts a:hover {
    color: #4A2AD3;
}

.footer-mobile {
    padding-top: 0;
}

